<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Digital Universe</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
		<style>
			body { margin: 0; }
		</style>
        <link rel="icon" href="/data/logo.png" type="image/x-icon" style="border-radius: 100%" />
	</head>
	<body>
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/stats.js/r17/Stats.min.js"></script> -->
		<script type="module" src="/src/js/astroVis/cosmosSimulationMain.js">
		</script>
        <div id="UI"></div>
	</body>
</html>